{{ define "custom_meta" }}
<!-- Pagination meta tags for list pages only -->
{{ $paginator := .Paginate (where .Pages "Section" "blog") }}
{{ if $paginator }}
<link rel="first" href="{{ $paginator.First.URL }}">
<link rel="last" href="{{ $paginator.Last.URL }}">
{{ if $paginator.HasPrev }}
<link rel="prev" href="{{ $paginator.Prev.URL }}">
{{end }}
{{ if $paginator.HasNext }}
<link rel="next" href="{{ $paginator.Next.URL }}">
{{end }}
{{end }}

<meta property="og:type" content="article" />
<meta property="article:publisher" content="{{ .Site.Params.facebook }}" /> 
<meta property="og:article:published_time" content={{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} /> 
<meta property="article:published_time" content={{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
  
{{ with.Params.author }} 
<meta property="og:article:author" content="{{humanize . }}" />
<meta property="article:author" content="{{humanize . }}" /> 
<meta name="author" content="{{humanize . }}" /> 
{{ end }}
  
{{ with.Params.category }} 
<meta name="news_keywords" content="{{ index . 0 }}" />
<meta property="article:section" content="{{ index . 0 }}" /> 
{{ end }}

<script defer type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "headline": {{ .Title }},
      "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.github }}"
      },
      "datePublished": "{{ .Date.Format "2006-01-02" }}",
      "description": {{ .Description }},
      "wordCount": {{ .WordCount }},
      "mainEntityOfPage": "True",
      "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
      "image": {
        "@type": "imageObject",
        "url": "{{ with .Params.image }}{{ .Permalink }}{{ end }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
          "@type": "imageObject",
          "url": "https://www.example.com/images/brand/favicon.png"
        }
      }
    }
</script>
{{ end }}

{{ define "main" }}
{{ partial "main_header.html" . }}

<section class="w-100">
    <article class="ph3 ph5-ns pv2">
        <div class="mw8 center">
            <div class="f5 f4-ns cf lh-copy">
                {{ with .Params.diga -}}
                    {{ partial "diga.html" . -}}
                {{ end -}}
                {{ with .Params.coords -}}
                    {{ partial "mappa.html" . -}}
                {{ end -}}
                <div id="mapid"></div>
                {{ .Content }}
            </div>
        </div>
    </article>
</section>

<section class="w-100">
    <article class="ph3 ph5-ns pv2">
        <div class="mw8 center">            
            {{ with .Resources.ByType "image" -}}
            <h3 class="f3 tracked ttu lh-title">Immagini</h3>
            {{ range . -}}
            <a 
                data-fslightbox="images-list-lightbox" class="link black-80"
                data-caption="{{ .Title }} - {{ with .Params.author }}{{- . -}}{{ end }} - {{ with .Params.copyright }}{{- . -}}{{ end }}"
                href={{ .Permalink }} 
                type="{{ .MediaType.Type }}">
                {{ $image := .Fill "100x100" -}}
                {{ $lqip := .Resize "10x q10" -}}
                <img class="lazy"
                data-src={{ $image.RelPermalink }} 
                width={{$image.Width}} height={{$image.Height}} 
                src="data:image/jpeg;base64,{{ $lqip.Content | base64Encode }}" >
            </a>
            {{ end -}}
            {{ end -}}
            <!-- 
            <B_documenti>
            <h3 class="f3 tracked ttu lh-title">Documenti</h3>
            <BOUCLE_documenti(DOCUMENTS) {id_article} {mode=document} {titre!==^logo\_} {par num titre, date} {doublons}>
            <article class="mw5 bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
                <a class="link dt w-100 bb b--black-10 pb2 mt2 dim blue" href="#URL_DOCUMENT">
                <div class="tc">
                    <img src="[(#LOGO_DOCUMENT|extraire_attribut{src}|url_absolue)]" class="h4 w4 dib ba b--black-05 pa2">
                    [<h1 class="f3 mb2">(#TITRE)</h1>]
                    [<h2 class="f5 fw4 gray mt0">(#DESCRIPTIF)</h2>]
                    <p class="f6 black-50">(#TYPE_DOCUMENT[ - (#TAILLE|taille_en_octets)])</p>
                </div>
                </a>
            </article>
            </BOUCLE_documenti>
            </B_documenti>
            -->
        </div>
    </article>
</section>

<section class="w-100">
{{ partial "author_summary.html" . }}
</section>

<section class="w-100">
    <article class="ph3 ph5-ns pv2">
        <div class="mw8 center">
            {{ template "_internal/disqus.html" . }}
        </div>
    </article>
</section>
{{ end }}

{{ define "footer_scripts" }}
<script async type="text/javascript" src={{ "/asset/js/fslightbox/fslightbox.js" | relURL}}></script>
{{ end }}