<header class="w-100 ph3 ph5-ns pv2">
    <div class="mw8 center">
        <h1 class="f3 tracked ttu lh-title">{{ if eq .IsSection false }}<a class="link black-80" href={{ .CurrentSection.RelPermalink }}>{{ .CurrentSection.Title }}</a> - {{ end }}{{ .Title -}}</h1>
        {{ with .Description }}<p class="f6 tracked ttu lh-title black-50">{{ . }}</p>{{ end }}
        <div class="flex flex-wrap">
            {{ $scratch := newScratch -}}
            {{ $largeSize := "880x300" -}}
            {{ $squareSize := "300x300" -}}
            {{ if .Resources.Match "logo*" -}}
                {{ with .Resources.GetMatch "logo*.jpg" -}}
                {{ if eq .Name "logo_large.jpg" -}}
                    {{ $scratch.Set "headerImage" (.Fill $largeSize) -}}
                    {{ $scratch.Set "headerImageClass" "w-100" -}}
                {{ else }}
                    {{ $scratch.Set "headerImage" (.Fill $squareSize) -}}
                    {{ $scratch.Set "headerImageClass" "w-30 w-20-ns" -}}
                {{ end -}}
                {{ end -}}
            {{- else -}}
                {{ range first 1 (.Resources.ByType "image") -}}
                {{ if ge .Width 500}}
                    {{ $scratch.Set "headerImage" (.Fill $largeSize) -}}
                    {{ $scratch.Set "headerImageClass" "w-100" -}}
                {{ else -}}
                    {{ $scratch.Set "headerImage" (.Fill $squareSize) -}}
                    {{ $scratch.Set "headerImageClass" "w-30 w-20-ns" -}}
                {{ end -}}
                {{ end -}}
            {{ end -}}

            {{- with $scratch.Get "headerImage" -}}
            <div class={{ $scratch.Get "headerImageClass" }}>
                <img src={{ ($scratch.Get "headerImage").RelPermalink }} class="db w-100 h-auto br4">
            </div>
            {{- end -}}

            <div class="w-70 w-80-ns pa2">
                <div class="mt1">
                {{ if .IsSection -}}
                    {{ with .Content -}}
                    <div class="pa2 f5 f4-ns lh-copy tj">{{ . }}</div>
                    {{ end -}}
                {{ else -}}
                    {{ with .Params.tags -}}
                    <div class="pa2">
                        {{ partial "svg/hashtag-solid.svg" . }}<!-- i class="fas fa-hashtag"></i -->
                        {{ range $index, $e := . -}}
                        {{ if $index }} | {{ end }}
                        <a class="black-80" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" title="{{- . -}}">{{- . -}}</a>
                        {{ end -}}
                    </div>
                    {{ end -}}
                    <div class="pa2">
                        {{ partial "svg/user-clock-solid.svg" . }}<!-- i class="fas fa-user-clock"></i--> Tempo di lettura {{ .ReadingTime }} minut{{ if eq .ReadingTime 1 }}o{{else}}i{{ end }}
                    </div>
                    {{ with .Params.authors -}}
                    <div class="pa2">
                        {{ partial "svg/at-solid.svg" . }}<!--i class="fas fa-at"></i--> 
                        {{ range $index, $e := . -}}
                        {{ if $index }} | {{ end -}}
                        {{ $author := (print "/noi/autori/" $e ) -}}
                        {{ if $.Site.GetPage $author -}}
                        {{ with $.Site.GetPage $author -}}
                        <a class="black-80" href={{ (print "#" $e) }} title="{{- .Title -}}">{{- .Title -}}</a>
                        {{ end }}
                        {{ else }}
                        <span class="black-80" >{{- $e -}}</span>
                        {{ end -}}
                        {{ end -}}
                    </div>
                    {{ end -}}
                    <!-- div class="pa2">
                        {{ partial "svg/link-solid.svg" }} <a class="black-80" href="(#URL_SITE)">[(#NOM_SITE|sinon{[(#URL_SITE|couper{80})]})]</a>
                    </div -->
                    <div class="pa2">
                        <p class="f6 black-50 tracked">pubblicato il <time class="f5 fw4 mt2 black-60" datetime={{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}>
                            {{ humanize (index $.Site.Data.mesi (printf "%d" .Date.Month)) }} {{ .Date.Year }}
                        </time>
                        {{ if or (ne .Date.Month .Lastmod.Month) (ne .Date.Year .Lastmod.Year) -}}
                        &mdash; modificato il <time class="f5 fw4 mt2 black-60" datetime={{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}>
                            {{ humanize (index $.Site.Data.mesi (printf "%d" .Lastmod.Month)) }} {{ .Lastmod.Year }}
                        </time>
                        {{ end -}}
                        </p>
                    </div>
                {{ end -}}
                </div>
            </div>
        </div>
    </div>
</header>