{{ define "custom_meta" }}
<meta property="og:type" content="website" /> 
<meta name="author" content="{{ .Site.Params.author }}" />
<script defer type="application/ld+json">
  { 
    "@context": "http://schema.org", 
    "@type": "WebSite", 
    "url": "{{ .Permalink }}", 
    "sameAs": [
      "{{ .Site.Params.facebook }}", 
      "{{ .Site.Params.github }}"
    ], 
    "name": "{{ .Title }}", 
    "logo": "https://www.example.com/images/brand/favicon.png" 
  }
</script>
{{ end }}

{{ define "main" }}
{{ with .Content }}
<section class="bg-lightest-blue w-100">
  <article class="ph3 ph5-ns pv4 pv5-ns f4 mw8 center lh-copy">
    <div class="measure">
      {{ . }}
    </div>
  </article>
</section>
{{ end }}

<section class="w-100">
  <div class="ph3 ph5-ns pv4 pv5-ns mw8 center">
    <p class="f3 tracked ttu lh-title">Gli ultimi articoli pubblicati</p>

    {{ range first 10 .Site.RegularPages.ByLastmod.Reverse -}}
    <article class="bb pb3">
        <h1 class="f3 ttu lh-title"><a class="link black-80" href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <p>Tempo di lettura {{ .ReadingTime }} minut{{ if eq .ReadingTime 1 }}o{{else}}i{{ end }}</p>
        {{ $article := .}}
        {{ with .Resources.GetMatch "logo.jpg" -}}
        <div class="aspect-ratio aspect-ratio--16x9 mb4">
            <a class="link black-80" href="{{ $article.Permalink }}">
                <div class="aspect-ratio--object cover br4" style="background:url({{ .Permalink }}) center;"></div>
            </a>
        </div>
        {{ end -}}
        <div class="f5 f4-ns lh-copy">
            {{ .Summary }}
            <div class="mt3">
                <a class="link black-80" href="{{ .Permalink }}">(continua) <i class="fas fa-arrow-alt-circle-right"></i></a>
            </diV>
        </div>
    </article>
    {{ end -}}
  </div> 
</section>
{{ end }}